name: "Code Coverage Reporting"
description: "Check code coverage"
inputs:
  REGISTRY_URL:
    description: Registry URL for login
    required: true

  REGISTRY_USERNAME:
    description: Registry username for login
    required: false
    default: ""

  REGISTRY_PASSWORD:
    description: Registry password for login
    required: false
    default: ""
outputs:
  IMAGE_REPOSITORY:
    description: "Full image repository path (including registry URL and repository name) to be used for building and pushing Docker images"
    value: ${{ steps.repository.outputs.IMAGE_REPOSITORY }}
runs:
  using: "composite"
  steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver-opts: image=moby/buildkit:v0.9.3
        buildkitd-flags: --debug

    - name: Login to Registry
      if: ${{ inputs.REGISTRY_USERNAME != '' && inputs.REGISTRY_PASSWORD != '' }}
      uses: docker/login-action@v3
      with:
        registry: ${{ inputs.REGISTRY_URL }}
        username: ${{ inputs.REGISTRY_USERNAME }}
        password: ${{ inputs.REGISTRY_PASSWORD }}

    - name: Generate image repository path
      id: repository
      shell: bash
      run: |
        echo IMAGE_REPOSITORY=$(echo ${{ inputs.REGISTRY_URL }}/${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]') | tee -a $GITHUB_OUTPUT $GITHUB_ENV
