name: golangci-lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  golangci:
    uses: stakater/.github/.github/workflows/pull_request_container_build.yaml@main
    with:
      DOCKER_FILE_PATH: Dockerfile
      CONTAINER_REGISTRY_URL: ghcr.io/stakater
    secrets:
      CONTAINER_REGISTRY_USERNAME: ${{ github.actor }}
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.GHCR_TOKEN }}
      #SLACK_WEBHOOK_URL: ${{ secrets.STAKATER_DELIVERY_SLACK_WEBHOOK }}
        
  #golangci:
  #  name: lint
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/setup-go@v4
  #      with:
  #        go-version: '1.18'
  #    - uses: actions/checkout@v3
  #    - name: golangci-lint
  #      uses: golangci/golangci-lint-action@v3
  #      with:
  #        args: --timeout=2m30s
