name: Pull Request - Lint
on:
  pull_request:
    branches: 
      - "main"

env:
  REGISTRY: ghcr.io/stakater
  GHCR_USERNAME: stakater-user

jobs:
  golangci:
    name: Run code linter
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: recursive
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo
          ref: ${{github.event.pull_request.head.sha}}

      - name: Setup Docker
        id: docker
        uses: ./.github/actions/docker
        with:
          REGISTRY_URL: ${{ env.REGISTRY }}
          REGISTRY_USERNAME: ${{ env.GHCR_USERNAME }}
          REGISTRY_PASSWORD: ${{ secrets.GHCR_TOKEN }}

      - name: Generate image tag
        id: tag
        uses: ./.github/actions/tag
        env:
          AUTO_GENERATED: true

      - name: Build binaries & run tests
        run: make all test
        env:
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: ${{ steps.tag.outputs.TAG }}
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}

      - name: Build Docker image
        if: github.actor != 'dependabot[bot]'
        run: make docker-build
        env:
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: ${{ steps.tag.outputs.TAG }}
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}
          DOCKER_BUILD_ARGS: --pull --push --cache-to type=inline

      - name: Comment on PR
        if: github.actor != 'dependabot[bot]'
        uses: thollander/actions-comment-pull-request@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-tag: ci-report
          message: |-
            @${{ github.actor }} Image is available for testing.
            `docker pull ${{ steps.docker.outputs.IMAGE_REPOSITORY }}:${{ steps.tag.outputs.TAG }}`
