name: Push - Lint
on:
  push:
    branches: 
      - "main"

jobs:
  golangci:
    name: Run code linter
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: recursive
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

      - name: Setup Docker
        id: docker
        uses: ./.github/actions/docker
        with:
          REGISTRY_URL: ${{ vars.REGISTRY }}

      - name: Generate image tag
        id: tag
        uses: ./.github/actions/tag
        env:
          AUTO_GENERATED: true

      - name: Build binaries & run tests
        run: make all test
        env:
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          #VERSION: ${{ steps.tag.outputs.TAG }}
          #COMMIT: ${{ github.sha }}
          #BRANCH: ${{ github.ref_name }}

      - name: Build Docker image
        run: make docker-build
        env:
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          #VERSION: ${{ steps.tag.outputs.TAG }}
          #COMMIT: ${{ github.sha }}
          #BRANCH: ${{ github.ref_name }}
