name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 2

    - name: Publish Helm Chart
      uses: stakater/.github/.github/actions/operator/chart-push@main
      with:
        VERSION: ${{ github.ref_name }}
        TAG: ${{ github.ref_name }}
        HELM_REGISTRY: "${{ secrets.CONTAINER_REGISTRY_URL }}/charts"
        CONTAINER_REGISTRY_URL: ${{ secrets.CONTAINER_REGISTRY_URL }}
      env:
        ADMIN_TOKEN: ${{ secrets.ADMIN_TOKEN }}
        GHCR_USERNAME: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
        GHCR_TOKEN: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}
    
    - name: Publish Public Helm Chart
      uses: stakater/.github/.github/actions/operator/chart-push@main
      with:
        VERSION: ${{ github.ref_name }}
        TAG: ${{ github.ref_name }}
        HELM_REGISTRY: "${{ secrets.CONTAINER_REGISTRY_URL }}/public/charts"
        CONTAINER_REGISTRY_URL: ${{ secrets.CONTAINER_REGISTRY_URL }}/public
