name: Release - Docker Images

on:
  release:
    types: [published]


env:
  DOCKER_PLATFORMS: linux/amd64 linux/arm64

jobs:
  test:
    name: Run tests
    uses: ./.github/workflows/_test.yaml

  build-docker:
    name: Build and Publish Docker images
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: write

    strategy:
      matrix:
        include:
        - platform: linux/amd64
        - platform: linux/arm64
        #- platform: linux/riscv64
        #- platform: linux/ppc64le
        #- platform: linux/s390x
        #- platform: linux/386
        #- platform: linux/arm/v7
        #- platform: linux/arm/v6
      fail-fast: false


    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Docker
        id: docker
        uses: stakater/.github/.github/actions/operator/docker@main
        env:
          CONTAINER_REGISTRY_URL: ${{ vars.REGISTRY }}
          CONTAINER_REGISTRY_USERNAME: ${{ vars.GHCR_USERNAME }}
          CONTAINER_REGISTRY_PASSWORD: ${{ secrets.GHCR_TOKEN }}

      - name: Cache Helm
        uses: actions/cache@v5
        with:
          path: ~/.cache/helm
          key: helm-${{ vars.HELM_VERSION }}-${{ runner.os }}

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: ${{ vars.HELM_VERSION }}

      - name: Cache yq
        id: cache-yq
        uses: actions/cache@v5
        with:
          path: /usr/local/bin/yq
          key: yq-latest-${{ runner.os }}

      - name: Install yq
        if: steps.cache-yq.outputs.cache-hit != 'true'
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq

      - name: Building Docker image - release version
        run: make docker-build
        env:
          DOCKER_BUILD_ARGS: --platform=${{ matrix.platform }}
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: ${{ github.event.release.tag_name }}
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}

      - name: Building Docker image - latest
        run: make docker-build
        env:
          DOCKER_BUILD_ARGS: --platform=${{ matrix.platform }}
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: latest
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}

      - name: Pushing Docker image - release version
        run: make docker-push
        env:
          DOCKER_BUILD_ARGS: --platform=${{ matrix.platform }}
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: ${{ github.event.release.tag_name }}
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}

      - name: Pushing Docker image - latest
        run: make docker-push
        env:
          DOCKER_BUILD_ARGS: --platform=${{ matrix.platform }}
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: latest
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}

      #- name: Building Docker image - release version
      #  run: make docker-buildx
      #  env:
      #    DOCKER_PLATFORMS: ${{ env.DOCKER_PLATFORMS }}
      #    DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
      #    VERSION: ${{ github.event.release.tag_name }}
      #    COMMIT: ${{ github.sha }}
      #    BRANCH: ${{ github.ref_name }}

      #- name: Building Docker image - latest
      #  run: make docker-buildx
      #  env:
      #    DOCKER_PLATFORMS: ${{ env.DOCKER_PLATFORMS }}
      #    DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
      #    VERSION: latest
      #    COMMIT: ${{ github.sha }}
      #    BRANCH: ${{ github.ref_name }}

      - name: Show Docker images registry
        run: docker image ls ${{ steps.docker.outputs.IMAGE_REPOSITORY }} --tree
