name: Release - Docker Images

on:
  release:
    types: [published]


env:
  DOCKER_PLATFORMS: linux/amd64 linux/arm64

jobs:
  test:
    name: Run tests
    uses: ./.github/workflows/_test.yaml

  build-docker:
    name: Build and Publish Docker images
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Docker
        id: docker
        uses: stakater/.github/.github/actions/operator/docker@main
        env:
          CONTAINER_REGISTRY_URL: ${{ env.REGISTRY }}
          CONTAINER_REGISTRY_USERNAME: ${{ env.GHCR_USERNAME }}
          CONTAINER_REGISTRY_PASSWORD: ${{ secrets.GHCR_TOKEN }}

      - name: Cache Helm
        uses: actions/cache@v4
        with:
          path: ~/.cache/helm
          key: helm-${{ env.HELM_VERSION }}-${{ runner.os }}

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Cache yq
        id: cache-yq
        uses: actions/cache@v4
        with:
          path: /usr/local/bin/yq
          key: yq-latest-${{ runner.os }}

      - name: Install yq
        if: steps.cache-yq.outputs.cache-hit != 'true'
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq

      - name: Building Docker image - release version
        run: make docker-buildx
        env:
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: ${{ github.event.release.tag_name }}
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}

      - name: Building Docker image - latest
        run: make docker-buildx
        env:
          DOCKER_TAG_BASE: ${{ steps.docker.outputs.IMAGE_REPOSITORY }}
          VERSION: latest
          COMMIT: ${{ github.sha }}
          BRANCH: ${{ github.ref_name }}
